@import "tailwindcss";

html, body {
  height: 100%;
  width: 100%;
}

#root {
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: auto;
  position: relative;
  background-color: #000000;
}

@media (max-width: 1024px) {
  body {
    min-width: 1024px;
    overflow-x: auto;
  }
}

/* Add this to your existing CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}